<section>

    <h2 class="page-heading">Custom slider</h2>
    <div>
        <div id="customSlickId" class="custom_slick">
            {{#if theme_settings.show_custom_slide1 '===' true}}
            <div class="custom-slide">
                <img src="https://cdn11.bigcommerce.com/s-byt08k1rmu/product_images/uploaded_images/vinil111.jpg" alt="slide-image">

                <div class="slick-custom-slide-text">{{ theme_settings.custom_slide1 }}</div>
            </div>
            {{/if}}
            {{#if theme_settings.show_custom_slide2 '===' true}}
            <div class="custom-slide">
                <img src="https://cdn11.bigcommerce.com/s-byt08k1rmu/product_images/uploaded_images/vinil111.jpg" alt="slide-image">
                <div class="slick-custom-slide-text">{{ theme_settings.custom_slide2 }}</div>
            </div>
            {{/if}}
            {{#if theme_settings.show_custom_slide3 '===' true}}
            <div class="custom-slide">
                <img src="https://cdn11.bigcommerce.com/s-byt08k1rmu/product_images/uploaded_images/vinil111.jpg" alt="slide-image">

                <div class="slick-custom-slide-text">{{ theme_settings.custom_slide3 }}</div>
            </div>
            {{/if}}
            {{#if theme_settings.show_custom_slide4 '===' true}}
            <div class="custom-slide">
                <img src="https://cdn11.bigcommerce.com/s-byt08k1rmu/product_images/uploaded_images/vinil111.jpg" alt="slide-image">

                <div class="slick-custom-slide-text">{{ theme_settings.custom_slide4 }}</div>
            </div>
            {{/if}}
            {{#if theme_settings.show_custom_slide5 '===' true}}
            <div class="custom-slide">
                <img src="https://cdn11.bigcommerce.com/s-byt08k1rmu/product_images/uploaded_images/vinil111.jpg" alt="slide-image">

                <div class="slick-custom-slide-text">{{ theme_settings.custom_slide5 }}</div>
            </div>
            {{/if}}
            {{#if theme_settings.show_custom_slide6 '===' true}}
            <div class="custom-slide">
                <img src="https://cdn11.bigcommerce.com/s-byt08k1rmu/product_images/uploaded_images/vinil111.jpg" alt="slide-image">

                <div class="slick-custom-slide-text">{{ theme_settings.custom_slide6 }}</div>
            </div>
            {{/if}}
            {{#if theme_settings.show_custom_slide7 '===' true}}
            <div class="custom-slide">
                <img src="https://cdn11.bigcommerce.com/s-byt08k1rmu/product_images/uploaded_images/vinil111.jpg" alt="slide-image">

                <div class="slick-custom-slide-text">{{ theme_settings.custom_slide7 }}</div>
            </div>
            {{/if}}
            {{#if theme_settings.show_custom_slide8 '===' true}}
            <div class="custom-slide">
                <img src="https://cdn11.bigcommerce.com/s-byt08k1rmu/product_images/uploaded_images/vinil111.jpg" alt="slide-image">

                <div class="slick-custom-slide-text">{{ theme_settings.custom_slide8 }}</div>
            </div>
            {{/if}}
        </div>
    </div>

</section>